<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ishansong.dao.dictionaries.CdCodeWordsegMapper">

    <select id="queryByAll" resultType="CdCodeWordseg">
        SELECT * FROM cd_code_wordseg
    </select>
</mapper>