<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ishansong.dao.courier.CourierCreditScoreNewMapper">
    <select id="queryByCourierId" resultType="CourierCreditScoreNew" parameterType="java.lang.String">
        SELECT courier_id,city_id,credit_score,etl_time FROM courier_credit_score_new where courier_id = #{courierId}
    </select>
</mapper>